<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureServiceBusConnectionString" connectionString="Endpoint=sb://pmduellingtest.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=FqL2KObW1wTxzLEPxZy/iH8vEdlDN1mKokVRD8bGLsE="/>
  </connectionStrings>
</configuration>