<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureServiceBusConnectionString" connectionString="Endpoint=sb://ZZZZZZZZZZZZZZ.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZZZZZZZZZZZZZZZZZZZZZZZ"/>
  </connectionStrings>
</configuration>